# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Reference files
ples/

# Mains not ready to share
deezer/cmd/
cmd/
*.json

# Dependency directories (remove the comment below to include it)
# vendor/
